.nav {
    background-color: var(--nav-background-color);
}

.navList {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItem {
    position: relative;
}

.linkGrid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.navLink {
    color: var(--nav-link-color);
    display: inline-block;
    font-size: var(--nav-link-font-size);
    font-weight: var(--nav-link-font-weight);
    line-height: 1.4;
    padding: var(--nav-link-padding);
    text-decoration: none;

    &:hover,
    &:focus {
        box-shadow: 0 var(--nav-link-hover-weight) 0 0
            var(--nav-link-hover-color);
    }
}

.dropdownToggle {
    background: none;
    border: none;
    cursor: pointer;
}

.subMenu {
    background: var(--submenu-background-color);
    box-shadow: var(--submenu-elevation);
    display: none; // Initially hidden
    left: 0;
    list-style: none;
    position: absolute;
    top: 100%;

    .navItem:hover &,
    .dropdownToggle[aria-expanded='true'] + & {
        display: block;
    }
}

.subMenuLink {
    color: var(--submenu-link-color);
    border-bottom: var(--submenu-link-border);
    display: block;
    padding: var(--submenu-link-padding);
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus {
        background: var(--submenu-link-hover-background);
    }
}
