@import '@styles/layer-order.scss';

@layer base.components {
    .tabContainer {
        display: block;

        @media (max-width: 500px) {
            display: grid;
            grid-template-columns: auto 1fr;
        }
    }
}
