@import '@styles/layer-order.scss';

@layer components {
    .button {
        align-items: center;
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        padding: 14px 0;
        height: 100%;
        width: 100%;
    }

    .rotate {
        transform: rotate(90deg);
    }
}
